span{
  color: white;
  opacity: 1;
  font-size: 50px;
}

#input{
  width: 400px;
  height:20px
}

#output{
  margin: 40px;
}

body{
  background: black
}

.other{
  opacity: 0.5
}

#intro{
  color: white;
  font-size: 20px;
  margin: 20px;
  opacity: 0.8;
  position: absolute;
}

#info{
  color: white;
  width: 300px;
  font-size: 20px;
  position: absolute;
  right: 30px;
  opacity: 0;
  font-family: sans-serif;
}

#q{
  color: white;
  font-size: 50px;
  position: absolute;
  right: 15px
}

#q:hover ~ #info{
  opacity: 0.8;
  -webkit-transition: opacity 200ms ease-out
}

#q:hover ~ #output{
  opacity: 0.1 !important;
  -webkit-transition: opacity 200ms ease-out
}

.scaler {
  display: inline
}

.neg{
  color: rgb(255, 0, 0);
}

.pos{
  color: rgb(0, 255, 0);
}

.freq{
  opacity: 1 !important
}

.infreq{
  opacity: 0.2
}

#limit{
  position: absolute;
  bottom: 20px;
  left: 50px;
  color: white;
  opacity: 0.8;
  display: none;
  color: rgb(235, 120, 100)

}
