span{
  color: white;
  opacity: 1;
  font-size: 50px;
  /*display: inline-block*/
}

#input{
  width: 400px;
  height:20px
}

#output{
  position: fixed;
  width: 95%;
}

body{
  background: black
}

.other{
  opacity: 0.5
}

#intro{
  color: white;
  font-size:
}
